---
import type { PageMeta } from "~types"
import collapseWhitespace from "~utilities/collapseWhitespace"
import Article from "~components/Article/index.astro"
import Cards from "~components/Cards/index.astro"
import Layout from "~layouts/index.astro"
import { cards } from "~pages/discography/index.astro"

export const metadata: Partial<PageMeta> = {
	blurb: collapseWhitespace(`
		Sanctuary is a collaboration between Jake Baxendale and Jasmine Lovell-Smith.
		The eleven-piece ensemble was created as part of a live performance residency
		named the Arthur Street Loft Orchestra, at the now defunct Wellington venue,
		The Third Eye.
	`),
	image: {
		filename: "sanctuary",
		height: 768,
		src: "/images/album-art/sanctuary.jpeg",
		types: ["image/avif", "image/webp", "image/jpeg"],
		width: 768,
	},
	title: "Sanctuary",
}

const { title } = metadata
---

<Layout title={title}>
	<Article title={title}>
		<p>
			<a
				href="https://jasminelovellsmith.bandcamp.com/album/sanctuary"
				rel="external"
				>Sanctuary</a
			> is a collaboration between Jake Baxendale and Jasmine Lovell-Smith. The eleven-piece
			ensemble was created as part of a live performance residency named the Arthur
			Street Loft Orchestra, at the now defunct Wellington venue, The Third Eye.
			Running weekly every Monday night for three years, the series featured works
			by local and national jazz composers for large ensemble. The musicians featured
			on the eponymous album are a multi-generational cast of favourite collaborators
			from the Wellington jazz scene.
		</p>
		<p>
			The group was inspired by the medium sized groups of Charles Mingus and
			Gil Evans: with the inclusion of flute and bass clarinet along with
			traditional winds, brass and rhythm, the ensemble has a rich, chamber-like
			texture, yet maintains the fluidity and agility that are typical of small
			group jazz, allowing space for the improvising voices of each musician.
		</p>
		<p>
			Sanctuary sees both composers expanding the scope of their work into
			longer forms and more varied ensemble textures, exploring a broad
			instrumental palette and a diverse array of strategies for ensemble
			interaction, ranging from tightly composed to fluid and free.
		</p>
		<figure>
			<iframe
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen
				src="https://www.youtube.com/embed/aUFrAQwdnVA"
				title="The Big Question - Live at BATS"
			></iframe>
			<figcaption>
				Sanctuary: &ldquo;The Big Question&rdquo; live at BATS Theatre, October
				2022.
			</figcaption>
		</figure>
	</Article>
	<Cards
		{cards}
		filter={(card) =>
			card.subtitle ? ["Jasmine Lovell-Smith"].includes(card.subtitle) : false}
		title="Discography"
	/>
</Layout>
