---
import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	label: "Invalid email",
	robots: "noindex",
	title: "Invalid email address",
}

const { robots, title } = metadata
---

<Layout
	{robots}
	{title}
>
	<Article {title}>
		<p>
			The <strong>email address</strong> you supplied with your contact form submission
			appears to be invalid. We need a valid email to be able to reply.
		</p>
		<p>
			You can use the browser <strong>back button</strong>
			to return to the form and try again. If you get stuck or think this message
			is in error, please <a
				href="mailto:charles.munat@gmail.com?subject=%5BJakeBaxendale.com%5D%20Contact%20form%20failure"
				>email the webmaster</a
			> and we will look into it ASAP.
		</p>
	</Article>
</Layout>
