---
import "./index.css"

import type { AstroInstance } from "astro"
import type { Link, PageMeta } from "~types"

import { GLOBAL_NAV } from "~constants"

import Trail from "./Trail/index.astro"
import TopNav from "./TopNav/index.astro"

export type Props = {
	links?: Array<Link> | undefined
	pages: Array<AstroInstance & { metadata: PageMeta }>
}

const { links = GLOBAL_NAV, pages = [] } = Astro.props
---

<nav class="global-nav">
	<h2 class="sr-only">Navigation</h2>
	<Trail {pages} />
	<TopNav {links} />
</nav>
