nav.global-nav {
	align-items: center;
	background-color: var(--global-nav-background-color);
	color: var(--global-nav-foreground-color);
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	padding: var(--space-xs) var(--page-gutter);
}

@media screen and (width <= 1240px) {
	nav.global-nav:not(:has(.trail ul)) {
		display: none;
	}
}
