---
import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	title: "Community",
}

const { title } = metadata
---

<Layout {title}>
	<Article {title}>
		<p>
			It takes a village to raise a musician, here are some of the people,
			places and organisations therein:
		</p>
		<p>
			<a
				href="https://www.rogueandvagabond.co.nz/beats/"
				rel="external"
				>The Rogue and Vagabond</a
			>
		</p>
		<p>
			<a
				href="https://www.theloniousrecords.co.nz/"
				rel="external"
				>Thelonious Records</a
			>
		</p>
		<p>
			<a
				href="https://www.creativejazzclub.co.nz/"
				rel="external"
				>Creative Jazz Club Aotearoa</a
			>
		</p>
		<p>
			<a
				href="https://wellingtonjazzcooperative.co.nz/"
				rel="external"
				>Wellington Jazz Cooperative</a
			>
		</p>
		<p>
			<a
				href="https://www.03sessions.com/"
				rel="external"
				>03 Sessions</a
			>
		</p>
	</Article>
</Layout>
