---
import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	title: "Lessons",
}

const { title } = metadata
---

<Layout {title}>
	<Article {title}>
		<p>
			I am currently the <strong>musical director</strong> of the Rata School of
			Music jazz band. This is a community program that offers the opportunity for
			adults of all abilities to come together to learn about and play jazz, <strong
				>no audition required.
			</strong>I would highly recommend this program to those wanting to get
			into jazz—there is no better way to learn than to play with people!
		</p>
		<p>
			Check out the <a
				href="https://ratastudios.co.nz/all-comers-jazz-band/"
				rel="external"
				>Rata jazz band.</a
			>
		</p>
		<p>
			For those wanting <strong>one-on-one tuition,</strong> I take on a very small
			number of regular students, and am happy to give one-off or small batches of
			lessons. My fees are <strong>$90 per hour,</strong> or I offer a <strong
				>$75 discounted rate</strong
			> if you wish to pay for several lessons up front. I offer this discount as
			an incentive for students to commit to a short period of learning, and get
			the most out of the lessons.
		</p>
		<p>
			I typically teach from my <strong>studio in Te Aro,</strong> Wellington, on
			<strong>Mondays, Wednesdays and Fridays until 4 PM.</strong> Evening lessons
			may be available by arrangement.
		</p>
	</Article>
</Layout>
