---
import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import FeedbackForm from "~components/FeedbackForm/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	label: "Feedback",
	title: "Give us feedback",
}

const { label, title } = metadata
---

<Layout title={label}>
	<Article {title}>
		<p>Found a bug? Have a suggestion? Did we mess something up?</p>
		<p>
			Please use the form below to let us know. The feedback field is required,
			the email address and name fields are optional.
		</p>
		<p>
			If you want a response, be sure to include your email address. We&rsquo;ll
			respond ASAP.
		</p>
	</Article>
	<FeedbackForm />
</Layout>
