---
import type { PageMeta } from "~types"
import collapseWhitespace from "~utilities/collapseWhitespace"
import Article from "~components/Article/index.astro"
import Cards from "~components/Cards/index.astro"
import Layout from "~layouts/index.astro"
import { cards } from "~pages/discography/index.astro"

export const metadata: Partial<PageMeta> = {
	blurb: collapseWhitespace(`
		Gardening Music is a project born out of my love of gardening as a tonic
		for the travails of the working musician. Learning to garden has taken me
		through a similar arc as learning to compose. Now, I’ve come up with a
		whole book of tunes.
	`),
	image: {
		filename: "jake-by-sam-pietras-square",
		height: 768,
		src: "/images/optimized/768/jake-by-sam-pietras-square.jpeg",
		types: ["image/avif", "image/webp", "image/jpeg"],
		width: 768,
	},
	title: "Gardening Music",
}

const { title } = metadata
---

<Layout title={title}>
	<Article title={title}>
		<p>
			<em>Gardening Music, Volume 1</em> (releasing July 6th, 2025) is my newest
			musical offering: the album is made up of my compositions, workshopped over
			a multi-week residency at local venue Bedlam & Squalor, recorded live and sampled,
			reworked and recomposed by producer Cory Champion, who also features as the
			album’s drummer.
		</p>
		<p>
			<iframe
				style="border: 0; width: 350px; height: 470px;"
				src="https://bandcamp.com/EmbeddedPlayer/album=439890640/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/transparent=true/"
				seamless=""
			>
			</iframe>
		</p>
		<p>
			<a
				href="https://jakebaxendale.bandcamp.com/album/gardening-music-volume-1"
			>
				Listen on Bandcamp: Gardening Music Volume 1 by Jake Baxendale
			</a>
		</p>
		<figure>
			<iframe
				width="1218"
				height="685"
				src="https://www.youtube.com/embed/qPNV2PYUCQc"
				title='Gardening Music: "Glasshouse", Live at Moon'
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin"
				allowfullscreen
			></iframe>
			<figcaption>
				Gardening Music: ‘Glasshouse’ live at Moon, Wellington. Performed June
				2023 for the WJC Artist Series.
			</figcaption>
		</figure>
		<p>
			In <em>Gardening Music</em>, I attempt to subvert typical musical
			hierarchies, often with clear soloist/accompanist roles, and instead allow
			each member to explore each aspect of the music in their own time, winding
			their way organically through the tapestry of the compositions. The
			resulting sounds evoke soft rain, vibrant new growth, and the wonderment
			of contemplating the natural: sometimes tranquil, sometimes jubilant,
			always in the moment.
		</p>
		<figure>
			<iframe
				width="1218"
				height="685"
				src="https://www.youtube.com/embed/Zd6_5sZz0nA"
				title="03 Sessions LIVE - Jake Baxendale Sextet: Gardening Music"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin"
				allowfullscreen
			></iframe>
			<figcaption>
				Gardening Music (full concert) live at Space Academy, Christchurch.
				Performed October 27th 2023 for the 03 Sessions.
			</figcaption>
		</figure>
	</Article>
	<Cards
		{cards}
		filter={(card) =>
			card.subtitle ? ["Gardening Music"].includes(card.subtitle) : false}
		title="Discography"
	/>
</Layout>
