---
import Article from "~components/Article/index.astro"
import Layout from "~layouts/index.astro"

// export const metadata: Partial<PageMeta> = {
//   author: "Charles F. Munat, coder@craft-code.dev",
//   carbon: {},
//   keywords: [],
//   label: "Bio",
//   next: "/contact",
//   pageTitle: "Bio ~ Jake Baxendale",
//   prev: "/",
//   title: "Bio",
// };

// const { title } = metadata;
---

<Layout title="Gardening Music">
	<Article title="Gardening Music">
		<blockquote cite="Robin Wall-Kimmerer">
			<p>
				Something essential happens in a vegetable garden. It&rsquo;s a place
				where if you can&rsquo;t say &ldquo;I love you&rdquo; out loud, you can
				say it in seeds. And the land will reciprocate, in beans.
			</p>
			<p>~ Robin Wall-Kimmerer</p>
		</blockquote>
		<p>
			Gardening music is a project born out of my love of gardening as a tonic
			for the travails of the working musician. For many years, I felt that
			gardening was music&rsquo;s opposite: immediate, physical,
			smell-of-the-earth, dirt-under-the-fingernails, rain-or-shine work with
			tangible results you can put in your mouth and eat.
		</p>
		<p>
			However, I have come to realise that the two disciplines are closer than
			they appear. Since I first started composing, gardening themes have worked
			their way into the titles of my pieces. Composing takes me a long time,
			enough time for other stuff that I&rsquo;m thinking about to filter in and
			influence what I think the rhythms and intervals I&rsquo;m putting
			together might mean. Somewhat by accident, I&rsquo;ve come up with a whole
			book of tunes that reference the natural world.
		</p>
		<p>
			Learning to garden has taken me through a similar arc as learning to
			compose, and learning how to play my own music and communicate it to other
			people. It takes time to figure out the best ways to bring out a song (or
			a plant): it doesn&rsquo;t always work the first time you try. Also,
			sometimes my friends have had tips or tricks that have proved invaluable!
		</p>
		<p>
			Some of these tunes are very old, my earliest &ldquo;jazz&rdquo;
			compositions: some of them are brand new. The band is very new,
			we&rsquo;ve only rehearsed and performed together a few times, but we got
			an instant rapport happening. That inspired me to perform the music with
			friends in other cities, and the results have been different and
			satisfying.
		</p>
		<p>
			With &ldquo;Gardening Music&rdquo;, we&rsquo;re going for a performance
			that emphasises melody, openness and generosity. Kimmerer&rsquo;s quote
			could just as easily apply to the bandstand as the garden—when words fail,
			can always say &ldquo;I love you&rdquo; with music (or beans!).
		</p>
		<figure>
			<iframe
				width="1214"
				height="683"
				src="https://www.youtube.com/embed/qPNV2PYUCQc"
				title='Gardening Music: "Glasshouse", Live at Moon'
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen
			></iframe>
			<figcaption>
				Gardening Music: &ldquo;Glasshouse&rdquo; live at Moon, Wellington.
				Performed June 2023 for the WJC Artist Series.
			</figcaption>
		</figure>
		<figure>
			<iframe
				width="1214"
				height="683"
				src="https://www.youtube.com/embed/Zd6_5sZz0nA"
				title="03 Sessions LIVE - Jake Baxendale Sextet: Gardening Music"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen
			></iframe>
			<figcaption>
				Gardening Music (full concert) live at Space Academy, Christchurch.
				Performed October 27th 2023 for the 03 Sessions.
			</figcaption>
		</figure>
	</Article>
</Layout>
