---
import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	robots: "noindex",
	title: "Success",
}

const { robots, title } = metadata
---

<Layout
	{robots}
	{title}
>
	<Article {title}>
		<p>
			Your <strong>contact message</strong> was successfully sent to Jake! Thank
			you much for your effort.
		</p>
	</Article>
</Layout>
