.skip-link {
	background-color: var(--skip-link-background-color, transparent);
	color: var(--skip-link-foreground-color);
	clip-path: circle(0);
	font-size: var(--step-1, 1.25rem);
	font-family: var(--font-sans, sans-serif);
	max-width: 0;
	text-decoration: none;
	white-space: nowrap;
	position: absolute;
}

.skip-link:focus {
	clip-path: unset;
	color: var(--skip-link-foreground-color-focus);
	display: inline-block;
	max-width: fit-content;
	outline-offset: 5px;
	outline: 2px solid var(--skip-link-outline-color-focus);
	text-decoration: none;
	position: fixed;
	top: 1rem;
	left: 1rem;
	padding: 0.5rem;
	background-color: var(--header-background-color);
	z-index: 10000000002;
}
