---
import type { PageMeta } from "~types"
import collapseWhitespace from "~utilities/collapseWhitespace"
import Article from "~components/Article/index.astro"
import Cards from "~components/Cards/index.astro"
import Layout from "~layouts/index.astro"
import { cards } from "~pages/discography/index.astro"

export const metadata: Partial<PageMeta> = {
	blurb: collapseWhitespace(`
		Bazurka are a seven piece Balkan fusion ensemble forged in the fires
		of the cultural melting pot that is Newtown, and tempered by passion,
		heartache, and a dash of madness.
	`),
	image: {
		filename: "novi-grad-all-stars",
		height: 768,
		src: "/images/optimized/768/novi-grad-all-stars.jpeg",
		types: ["image/avif", "image/webp", "image/jpeg"],
		width: 768,
	},
	title: "Bazurka",
}

const { title } = metadata
---

<Layout title={title}>
	<Article title={title}>
		<p>
			<a
				href=""
				rel="external"
				><strong>Bazurka</strong></a
			> are a seven piece Balkan fusion ensemble. Forged in the fires of the cultural
			melting pot that is Newtown, and tempered by passion, heartache, and a dash
			of madness, their music is bold, brooding, and beautiful. They&rsquo;ll make
			you laugh, they&rsquo;ll make you cry, they&rsquo;ll make you dance like your
			life depended on it!
		</p>
		<figure>
			<iframe
				width="560"
				height="315"
				src="https://www.youtube.com/embed/f9dvevkN4YY?si=Gn4J8YdBcYj8pvsD"
				title="Bazurka: Jovano Jovanke (Official Music Video)"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen
			></iframe>

			<figcaption>
				Official music video for the single &ldquo;Jovano Jonake&rdquo;.
			</figcaption>
		</figure>
	</Article>
	<Cards
		{cards}
		filter={(card) =>
			card.subtitle ? ["Bazurka"].includes(card.subtitle) : false}
		title="Discography"
	/>
</Layout>
