---
import Article from "~components/Article/index.astro"
import Discography from "~components/Discography/index.astro"
import Layout from "~layouts/index.astro"

// export const metadata: Partial<PageMeta> = {
//   author: "Charles F. Munat, coder@craft-code.dev",
//   carbon: {},
//   keywords: [],
//   label: "Bio",
//   next: "/contact",
//   pageTitle: "Bio ~ Jake Baxendale",
//   prev: "/",
//   title: "Bio",
// };

// const { title } = metadata;
---

<Layout title="Bazurka">
	<Article title="Bazurka">
		<p>
			<a
				href=""
				rel="external"
				><strong>Bazurka</strong></a
			> are a seven piece Balkan fusion ensemble. Forged in the fires of the cultural
			melting pot that is Newtown, and tempered by passion, heartache, and a dash
			of madness, their music is bold, brooding, and beautiful. They&rsquo;ll make
			you laugh, they&rsquo;ll make you cry, they&rsquo;ll make you dance like your
			life depended on it!
		</p>
		<p>Official music video for the single &ldquo;Jovano Jonake&rdquo;:</p>
		<p>
			<iframe
				width="1218"
				height="685"
				src="https://www.youtube.com/embed/f9dvevkN4YY"
				title="Bazurka - Jovano Jovanke (Official Music Video)"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen
			></iframe>
		</p>
	</Article>
	<Discography filter={["Bazurka"]} />
</Layout>
