---
import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import ContactForm from "~components/ContactForm/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	label: "Contact",
	robots: "noindex",
	title: "Contact Jake",
}

const { label, robots, title } = metadata
---

<Layout
	{robots}
	title={label}
>
	<Article {title}>
		<p>Need to get in touch with Jake? Please use the form below.</p>
	</Article>
	<ContactForm />
</Layout>
