---
import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import ContactForm from "~components/ContactForm/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	label: "Contact",
	title: "Contact Jake",
}

const { label, title } = metadata
---

<Layout title={label}>
	<Article {title}>
		<p>Need to get in touche with Jake? Please use the form below.</p>
		<p>
			Your message and your email address are required fields. Your name is a
			nice addition, but up to you.
		</p>
		<p>I do my best to respond to all legit contacts as soon as practicable.</p>
		<p>Real humans only, please.</p>
	</Article>
	<ContactForm />
</Layout>
