---
import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import ContactForm from "~components/ContactForm/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	label: "Contact",
	title: "Contact Jake",
}

const { label, title } = metadata
---

<Layout title={label}>
	<Article {title}>
		<p>Need to get in touch with Jake? Please use the form below.</p>
	</Article>
	<ContactForm />
</Layout>
