.bax-logo,
.bax-logo a {
	background-color: var(--header-background-color);
	color: var(--header-foreground-color);
	font-family: var(--font-body);
	font-size: var(--step-2);
	font-weight: 600;
}

.bax-logo a {
	outline: 2px solid transparent;
	outline-offset: 0.5rem;
	text-decoration: none;
}

.bax-logo a:focus,
.bax-logo a:hover {
	outline: 2px solid var(--logo-outline-color);
}
