---
import "./index.css"

import type { Card } from "~types"

import CardGrid from "./CardGrid/index.astro"

export type Props = {
	cards: Array<Card>
	filter?: (card: Card) => boolean | undefined
	title?: string | undefined
}

const { cards = [], filter, title } = Astro.props

const items = filter ? cards.filter(filter) : cards
---

{
	items.length ? (
		title ? (
			<>
				<section>
					<h2>{title}</h2>
				</section>
				<div class="cards">
					<CardGrid {items} />
				</div>
			</>
		) : (
			<div class="cards">
				<CardGrid {items} />
			</div>
		)
	) : null
}
