---
import type { PageMeta } from "~types"
import collapseWhitespace from "~utilities/collapseWhitespace"
import Article from "~components/Article/index.astro"
import Discography from "~components/Discography/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	blurb: collapseWhitespace(`
		Richter City Rebels music is heavy and soulful. It grooves deeply with
		pounding bass and searing brass. Catchy vocals and chants draw the crowd
		into the party and the rolling, infectious sound is punctuated by the
		fierce crack of drums and percussion.
	`),
	title: "Richter City Rebels",
}

const { title } = metadata
---

<Layout title={title}>
	<Article title={title}>
		<p>
			<a
				href="https://www.richtercityrebels.com/"
				rel="external"
				><strong>Richter City Rebels&rsquo;</strong></a
			>
			music is heavy and soulful. It grooves deeply with pounding bass and searing
			brass. Catchy vocals and chants draw the crowd into the party and the rolling,
			infectious sound is punctuated by the fierce crack of drums and percussion.
		</p>
		<p>
			2023 brings the release of the Rebels&rsquo; third studio album with
			recent live collaborators going on record, including: Troy Kingi, Aurelian
			Barnes (Cha Wa), Matt Pender (OdESSA), and Chris CK.
		</p>
		<p>
			Equally at home on stage and parading, you can&rsquo;t help but dance and
			feel good!
		</p>
	</Article>
	<Discography filter={["Richter City Rebels"]} />
</Layout>
