---
import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	label: "Terms of use",
	title: "Our terms of use",
}

const { label, title } = metadata
---

<Layout title={label}>
	<Article {title}>
		<p>By viewing and using this site, you agree to these terms of use.</p>
		<section id="agreement-to-terms">
			<header>
				<h2>Agreement to terms of use</h2>
			</header>
			<p>
				Welcome to JakeBaxendale.com (the &ldquo;site&rdquo;), a website hosted
				and operated by Jake Baxendale (&ldquo;we,&rdquo; &ldquo;our,&rdquo;
				&ldquo;Jake&rdquo;).
			</p>
			<p>These terms apply to:</p>
			<ol>
				<li>the entire contents of the site</li>
				<li>to any web feeds produced by the site</li>
				<li>to any feedback or submissions provided through the site</li>
			</ol>
			<p>
				By viewing and using the site, you agree to these <strong
					>terms of use.</strong
				>
			</p>
			<section id="disclaimer">
				<header>
					<h2>Disclaimer</h2>
				</header>
				<p>Jake disclaims and excludes all liability for any</p>
				<ol>
					<li>claim</li>
					<li>loss</li>
					<li>
						demand or damages of any kind whatsoever (including for negligence)
					</li>
				</ol>
				<p>
					that arise out of or in connection with the use of either this website
					or the
				</p>
				<ol>
					<li>information</li>
					<li>content</li>
					<li>or materials</li>
				</ol>
				<p>included on this site or on any website we link to.</p>
			</section>
			<section id="continuity-of-service">
				<header>
					<h2>Continuity of service</h2>
				</header>
				<p>
					Jake makes no warranty or representation, express or implied, about
					continuity of service. We reserve the right to suspend, end, or
					otherwise alter access to some or all the site&rsquo;s services. We
					may do so at any time and without notice.
				</p>
			</section>
			<section id="your-information">
				<header>
					<h2>Your information</h2>
				</header>
				<p>
					We may treat any material you send or post publicly to the site as
					non-confidential. This includes feedback or submissions you provide.
					It excludes personal information covered in our <a
						href="/privacy-policy">privacy policy.</a
					>
				</p>
			</section>
			<section id="copyright">
				<header>
					<h2>Copyright</h2>
				</header>
				<p>
					<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
						>Attribution-NonCommercial-ShareAlike 4.0 International</a
					> (CC BY-NC-SA 4.0). That&rsquo;s our license. This license protects all
					content on the JakeBaxendale.com website. Follow the link for more details.
				</p>
				<p>
					Under the terms of the <abbr
						title="Attribution-NonCommercial-ShareAlike 4.0 International"
						>CC BY-NC-SA 4.0</abbr
					> license, you must attribute the content borrowed from us to JakeBaxendale.com.
					You may <strong>not</strong> repurpose it for commercial use.
				</p>
				<p>We recognize fair use, of course, with attribution.</p>
			</section>
			<section id="revisions-to-these-terms-of-use">
				<header>
					<h2>Revisions to terms of use</h2>
				</header>
				<p>
					Jake may revise these terms of use at any time. Any such revisions
					take effect upon publication here of the revised terms.
				</p>
				<p>
					<a href="/contact">Contact us</a> for further information.
				</p>
			</section>
			<section id="our-true-feelings-about-all-this">
				<header>
					<h2>Our true feelings about all this</h2>
				</header>
				<p>
					It makes us sad that this labor of love even needs terms of use. We
					have no desire to act with impunity.
				</p>
				<p>
					But the World Wide Web is more like the Wild, Wild West. There are so
					many things that could go wrong over which we have no control
					whatsoever.
				</p>
			</section>
			<p>
				<strong>We can&rsquo;t afford the risk.</strong> To produce this site at
				all, we must limit our liability. We apologise that this is the case. But
				without these terms we cannot justify the risk to our lives and futures.
			</p>
			<p>
				We&rsquo;ve taken every precaution we could think of to protect both
				you, dear reader, and us. And in good faith. But in the end, you use
				this site at your own risk. We hope that you understand.
			</p>
		</section>
	</Article>
</Layout>
