---
import Layout from "~layouts/index.astro"

// export const metadata: Partial<PageMeta> = {
//   author: "Charles F. Munat, coder@craft-code.dev",
//   carbon: {},
//   keywords: [],
//   label: "Home",
//   next: "/contact",
//   pageTitle: "Home ~ Jake Baxendale",
//   prev: "/",
//   title: "Home",
// };

// const { title } = metadata;
---

<Layout>
	<h1>Everything&rsquo;s Jake</h1>
</Layout>
