---
import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	label: "Home",
	title: "Everything Jake",
}

const { title } = metadata
---

<Layout>
	<Article {title}>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer efficitur
			vel dui ac lacinia. Cras iaculis eget libero condimentum molestie. Aliquam
			sollicitudin accumsan pellentesque. Curabitur quis nunc quis leo vehicula
			facilisis sit amet vel elit. Mauris egestas mi sit amet dui congue
			interdum.
		</p>
	</Article>
</Layout>
