---
import "./_index.css"

import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import Picture from "~components/Picture/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	label: "Home",
	title: "Concerts coming up!",
}

const { title } = metadata
---

<Layout>
	<Article {title}>
		<ul class="coming-concerts">
			<li>
				<h2><a href="/projects/gardening-music">Gardening Music</a></h2>
				<p>
					<strong>7:30 PM on 7 March</strong> at
					<a
						href="https://www.bedlamandsqualor.co.nz/"
						rel="external"
						><strong>Bedlam &amp; Squalor,</strong></a
					> located on Level 1 at <a
						href="https://www.google.com/maps/place/Bedlam+%26+Squalor/@-41.2934027,174.7718894,17z/data=!3m1!5s0x6d38afd792216045:0xc8ebc1c3ffe20101!4m15!1m8!3m7!1s0x6d38afd818f86673:0xa635d19f7d69f1bc!2s18+Garrett+Street,+Te+Aro,+Wellington+6011!3b1!8m2!3d-41.2934027!4d174.7744643!16s%2Fg%2F11c2g078xp!3m5!1s0x6d38af2bb48821bd:0x5f1c924d6ceccc62!8m2!3d-41.2934042!4d174.7744589!16s%2Fg%2F11m21pg9bv?entry=ttu"
						rel="external"
						>18 Garett Street,</a
					> Wellingon (above Rogue &amp; Vagabond) and presented by the
					<a
						href="https://www.wellingtonjazzcooperative.co.nz/"
						rel="external"
						>Wellington Jazz Cooperative</a
					> (WJC).
				</p>
				<p>
					<strong>
						<a
							href="https://www.eventfinda.co.nz/2024/jake-baxendale-and-gardening-music/wellington"
							rel="external"
							>TICKETS for Gardening Music are on sale now.</a
						></strong
					>
				</p>
				<figure>
					<Picture
						alt="Jake in the garden. Image by Sam Pietras."
						class="full-width"
						filename="jake-by-sam-pietras"
						height={546}
						loading="eager"
						src="/images/optimized/768/jake-by-sam-pietras.jpeg"
						types={["image/avif", "image/webp", "image/jpeg"]}
						width={768}
					/>
					<figcaption>Image by Sam Pietras.</figcaption>
				</figure>
			</li>
			<li>
				<h2>Cinematic Light Orchestra</h2>
				<p>
					Presented by <a
						href="https://fringe.co.nz/"
						rel="external"
						>NZ Fringe,</a
					>
					<strong>7 PM & 9 PM, Friday, March 8th</strong> at the
					<a
						href="https://www.hannahplayhouse.org.nz/"
						rel="external"
						>Hannah Playhouse.</a
					>
				</p>
				<p>
					Cinematic Light Orchestra is a culmination of all that Callum
					Allardice perceives to be important in music. Lush sweeping melodies
					and rich harmony that pulls at your heart strings akin to what you
					might experience in a film score. Daring and exciting improvisation
					that captures the interactive nature of the music; the core of what
					jazz is. The union of these elements lead to one word — emotion.
				</p>
				<p>
					The ensemble features a traditional big band accompanied by a string
					section.
				</p>
				<p>
					View the
					<a
						href="https://www.google.com/maps/place/Hannah+Playhouse/@-41.2937287,174.7810447,17z/data=!3m1!4b1!4m6!3m5!1s0x6d38afdaacf9264f:0x3143fded1ce3f167!8m2!3d-41.2937287!4d174.7836196!16s%2Fg%2F11bzrhgg07?authuser=0&entry=ttu"
						rel="external"
						>map.</a
					> Buy some
					<a
						href="https://fringe.co.nz/show/cinematic-light-orchestra--album-release"
						rel="external"
						><strong>tickets</strong></a
					> (click on the date in the calendar).
				</p>
				<figure>
					<Picture
						alt="Jake in the garden. Image by Sam Pietras."
						class="full-width"
						filename="jake-by-sam-pietras"
						height={546}
						loading="eager"
						src="/images/optimized/768/jake-by-sam-pietras.jpeg"
						types={["image/avif", "image/webp", "image/jpeg"]}
						width={768}
					/>
					<figcaption>Image by Sam Pietras.</figcaption>
				</figure>
			</li>
		</ul>
		<section>
			<h2>In other media &hellip;</h2>
			<p>
				RATTLE has a
				<a
					href="https://rattle.co.nz/artists/jake-baxendale"
					rel="external"
					>nice bio</a
				> for Jake. Worth a look. And don’t miss this lovely <a
					href="https://www.youtube.com/watch?v=nkfSphXtCnE"
					rel="external"
					>short interview with Jake</a
				>
				where he chats about his recent work inspired by <a
					href="https://www.ursulakleguin.com/lao-tzu-the-tao-te-ching"
					rel="external"
					>Ursula K. Le Guin’s translation</a
				> of the Chinese masterpiece
				<em title="道德經">Tao Te Ching</em> (<span lang="zh">道德經</span>).
			</p>
			<p>
				You can also find some of Jake’s work on <a
					href="https://jakebaxendale.bandcamp.com/"
					rel="external"
					>Bandcamp</a
				>. Recently, Jake was interviewed by <a
					href="https://www.festival.nz"
					rel="external"
				>
					Aotearoa New Zealand Festival of the Arts</a
				> in a piece called <a
					href="https://www.festival.nz/article/five-questions-jake-baxendale/"
					rel="external"
					>Five Questions with Jake Baxendale</a
				>.
			</p>
			<p>And don’t forget to look around. There’s plenty here.</p>
			<p>
				You can also follow Jake’s musical movements (pun intended) on Facebook
				and Instagram:
			</p>
			<p class="social">
				<a
					href="https://www.facebook.com/jakebaxendalemusic/"
					rel="external"
					title="Jake on Facebook"
				>
					<img
						alt="To Facebook"
						height="60"
						loading="eager"
						src="/images/facebook.svg"
						width="60"
					/>
				</a>
				<a
					href="https://www.instagram.com/jakesaxendale/"
					rel="external"
					title="Jake on Instagram"
				>
					<img
						alt="To Instagram"
						height="48"
						loading="eager"
						src="/images/instagram.png"
						width="48"
					/>
				</a>
			</p>
		</section>
	</Article></Layout
>
