---
import "./_index.css"

import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
// import Picture from "~components/Picture/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	label: "Home",
	title: "Concerts coming up!",
}

const { title } = metadata
---

<Layout>
	<Article {title}>
		<section>
			<h2>In other media &hellip;</h2>
			<p>
				RATTLE has a
				<a
					href="https://rattle.co.nz/artists/jake-baxendale"
					rel="external"
					>nice bio</a
				> for Jake. Worth a look. And don&rsquo;t miss this lovely <a
					href="https://www.youtube.com/watch?v=nkfSphXtCnE"
					rel="external"
					>short interview with Jake</a
				>
				where he chats about his recent work inspired by <a
					href="https://www.ursulakleguin.com/lao-tzu-the-tao-te-ching"
					rel="external"
					>Ursula K. Le Guin&rsquo;s translation</a
				> of the Chinese masterpiece
				<em title="道德經">Tao Te Ching</em> (<span lang="zh">道德經</span>).
			</p>
			<p>
				You can also find some of Jake&rsquo;s work on <a
					href="https://jakebaxendale.bandcamp.com/"
					rel="external"
					>Bandcamp</a
				>. Recently, Jake was interviewed by <a
					href="https://www.festival.nz"
					rel="external"
				>
					Aotearoa New Zealand Festival of the Arts</a
				> in a piece called <a
					href="https://www.festival.nz/article/five-questions-jake-baxendale/"
					rel="external"
					>Five Questions with Jake Baxendale</a
				>.
			</p>
			<p>And don&rsquo;t forget to look around. There&rsquo;s plenty here.</p>
			<p>
				You can also follow Jake&rsquo;s musical movements (pun intended) on
				Facebook and Instagram:
			</p>
			<p class="social">
				<a
					href="https://www.facebook.com/jakebaxendalemusic/"
					rel="external"
					title="Jake on Facebook"
				>
					<img
						alt="To Facebook"
						height="60"
						loading="eager"
						src="/images/facebook.svg"
						width="60"
					/>
				</a>
				<a
					href="https://www.instagram.com/jakesaxendale/"
					rel="external"
					title="Jake on Instagram"
				>
					<img
						alt="To Instagram"
						height="48"
						loading="eager"
						src="/images/instagram.png"
						width="48"
					/>
				</a>
			</p>
		</section>
	</Article>
</Layout>
