---
import SaxMan from "../components/SaxMan/index.astro";
import Layout from "../layouts/index.astro";
---

<Layout title="Jake Baxendale, alto saxophonist, bandleader, composer">
  <article class="grid-page" id="main-content" title="All that jazz">
    <div class="prologue">
      <h1>All that jazz</h1>
      <p>
        Greetings! And thanks for checking in. We are currently rebuilding the
        Jake Baxendale website, but Jake is as busy as ever making music.
      </p>
      <p>
        RATTLE has a
        <a href="https://rattle.co.nz/artists/jake-baxendale" rel="external"
          >nice bio</a
        > for Jake. Worth a look. And don&apos;t miss this lovely <a
          href="https://www.youtube.com/watch?v=nkfSphXtCnE"
          rel="external">short interview with Jake</a
        >
        where he chats about his recent work inspired by <a
          href="https://www.ursulakleguin.com/lao-tzu-the-tao-te-ching"
          rel="external">Ursula K. Le Guin&apos;s translation</a
        > of the Chinese masterpiece
        <em title="道德經">Tao Te Ching</em> (<span lang="zh">道德經</span>).
      </p>
      <p>
        Until then, follow Jake&apos;s musical movements (pun intended) on
        Facebook and Instagram:
      </p>
      <div class="social">
        <a
          href="https://www.facebook.com/jakebaxendalemusic/"
          rel="external"
          title="Jake on Facebook"
        >
          <img
            alt=""
            height="60"
            loading="eager"
            src="/images/facebook.svg"
            width="60"
          />
        </a>
        <a
          href="https://www.instagram.com/jakesaxendale/"
          rel="external"
          title="Jake on Instagram"
        >
          <img
            alt=""
            height="48"
            loading="eager"
            src="/images/instagram.png"
            width="48"
          />
        </a>
      </div>
    </div>
    <p class="image">
      <picture>
        <source
          srcset="/images/tall-jake.avif 1x, /images/tall-jake-2x.avif 2x, /images/tall-jake-3x.avif 3x"
          type="image/avif"
        />
        <source
          srcset="/images/tall-jake.webp 1x, /images/tall-jake-2x.webp 2x, /images/tall-jake-3x.webp 3x"
          type="image/webp"
        />
        <source
          srcset="/images/tall-jake.png 1x, /images/tall-jake-2x.png 2x, /images/tall-jake-3x.png 3x"
          type="image/png"
        />
        <source
          srcset="/images/tall-jake.jpeg 1x, /images/tall-jake-2x.jpeg 2x, /images/tall-jake-3x.jpeg 3x"
          type="image/jpeg"
        />

        <img
          alt="Jake Baxendale plays saxophone"
          height="760"
          loading="eager"
          src="/images/tall-jake.jpeg"
          width="432"
        />
      </picture>
    </p>
    <div class="epilogue">
      <p>
        Busy, busy, busy! You can also find some of Jake&apos;s work on <a
          href="https://jakebaxendale.bandcamp.com/"
          rel="external">Bandcamp</a
        >. Recently, Jake was interviewed by <a
          href="https://www.festival.nz"
          rel="external"
        >
          Aotearoa New Zealand Festival of the Arts</a
        > in a piece called <a
          href="https://www.festival.nz/article/five-questions-jake-baxendale/"
          rel="external">Five Questions with Jake Baxendale</a
        >. They revealed that:
      </p>
      <blockquote
        cite="https://www.festival.nz/article/five-questions-jake-baxendale/"
      >
        Jake Baxendale is one of two artists the Wellington Jazz Festival
        commissioned to compose new works for the 2023 Festival. Waypeople,
        based on Ursula Le Guin's translation of Lao Tzu's <em>Tao Te Ching</em
        >, marks Jake's first foray into writing music with lyrics.
      </blockquote>
      <p>
        Follow the link above to discover the five questions and Jake&apos;s
        answers.
      </p>
      <p>
        To contact Jake regarding bookings, drop a line to his agent,
        <a href="mailto:jake.baxendale@gmail.com">Jake Baxendale</a>.
      </p>
      <p>
        Hope to see you around town. And check back shortly to see the new
        website!
      </p>
      <div class="sb-separator">
        <SaxMan height={61.2} width={72} />
      </div>
    </div>
  </article>
</Layout>
