nav > ul {
	align-items: center;
	display: flex;
	gap: 1.5rem;
	justify-content: flex-end;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav a,
nav li {
	color: var(--footer-foreground-color);
	letter-spacing: 0.5px;
	text-transform: lowercase;
	white-space: nowrap;
}

nav a {
	display: block;
	min-height: 24px;
	outline: 2px solid transparent;
	outline-offset: 0.3rem;
	text-decoration: none;
}

nav a:focus,
nav a:hover {
	outline: 2px solid var(--footer-outline-color);
}

nav li > span {
	outline: 2px solid var(--footer-outline-color);
	padding: 0.25rem 0.5rem;
}

@media screen and (width <= 60rem) {
	nav > ul {
		align-items: flex-end;
		flex-direction: column;
		gap: 1rem;
		justify-content: flex-end;
	}

	nav li::before {
		content: none !important;
	}
}
