---
import "./index.css"

import { SUPPLEMENTAL_NAV } from "~constants"

import stripFinalSlash from "~utilities/stripFinalSlash"

export type Props = {
	links?: Array<{ href: string; label: string }>
}

const { links = SUPPLEMENTAL_NAV } = Astro.props
const { pathname } = Astro.url
---

<nav
	aria-labelledby="supplemental-h2"
	class="supplemental-nav"
>
	<h2
		class="sr-only"
		id="supplemental-h2"
	>
		Links to legal pages
	</h2>
	<ul>
		{
			links.map(({ href, label }) =>
				href === stripFinalSlash(pathname) ? (
					<li>
						<span
							class="this-page"
							title="This page."
						>
							{label}
						</span>
					</li>
				) : (
					<li>
						<a {href}>{label}</a>
					</li>
				),
			)
		}
	</ul>
</nav>
