---
import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	label: "Message fail",
	robots: "noindex",
	title: "Failed to send message",
}

const { robots, title } = metadata
---

<Layout
	{robots}
	{title}
>
	<Article {title}>
		<p>
			Unfortunately, our server failed to send your contact message. You can use
			the <strong>back button</strong> to return to the form and try again. If it
			still stubbornly refuses to work, then please <a
				href="mailto:charles.munat@gmail.com?subject=%5BJakeBaxendale.com%5D%20Contact%20form%20failure"
				>email the webmaster</a
			>
			and we will get right on it.
		</p>
	</Article>
</Layout>
