form#contact-form {
	display: grid;
	grid-template-rows: min-content min-content min-content min-content;
	margin-block: 3rem;
	row-gap: 2rem;
}

form#contact-form div {
	align-content: start;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr;
}

form#contact-form label {
	font-size: var(--step-1);
	line-height: 2;
}

form#contact-form input,
form#contact-form textarea {
	background-color: var(--color-lighter);
	border: 2px solid var(--color-lighter);
	padding: 0.5rem;
}

form#contact-form input:focus,
form#contact-form textarea:focus {
	background-color: var(--color-whitish);
	padding: 0.5rem;
	outline: 2px solid var(--color-light);
	outline-offset: 5px;
}

form#contact-form button {
	background-color: var(--color-lighter);
	border: 2px solid var(--color-light);
	color: var(--color-darkest);
	font-weight: 600;
	max-width: fit-content;
	letter-spacing: 1px;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
}

form#contact-form button:focus,
form#contact-form button:hover {
	background-color: var(--color-whitish);
	border: 2px solid var(--color-light);
	outline: 2px solid var(--color-light);
	outline-offset: 5px;
}
