body > header {
	align-items: center;
	background-color: var(--header-background-color);
	color: var(--header-foreground-color);
	display: grid;
	font-family: var(--font-body);
	gap: 1rem;
	grid-template-columns: 1fr 1fr 1fr min-content;
	grid-template-rows: 1fr;
	max-height: fit-content;
	padding: var(--space-xs) 4vw;
}
