body > header {
	align-items: center;
	background-color: var(--header-background-color);
	color: var(--header-foreground-color);
	display: flex;
	font-family: var(--font-body);
	gap: 1rem;
	justify-content: space-between;
	max-height: fit-content;
	padding: var(--space-xs) var(--space-xl);
}
