---
import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import Picture from "~components/Picture/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	title: "Prose",
}

const { title } = metadata
---

<Layout {title}>
	<Article {title}>
		<ul>
			<li>
				<p>
					A <strong>two part feature for SOUNZ Centre</strong> for New Zealand music
					on the jazz and improvised music scene in Aoteaora during the height of
					the COVID pandemic: <em>Jazz in the Cracks.</em>
				</p>
				<ul>
					<li>
						<a
							href="https://news.sounz.org.nz/jazz-in-the-cracks-part-1/"
							rel="external"
							>Part 1</a
						>
					</li>
					<li>
						<a
							href="https://news.sounz.org.nz/jazz-in-the-cracks-part-2/"
							rel="external"
							>Part 2</a
						>
					</li>
				</ul>
				<p>
					<a
						aria-label="To the Sounz website."
						href="https://sounz.org.nz/"
						rel="external"
					>
						<Picture
							alt=" Sounz: Centre for New Zealand Music"
							class="white-bgnd"
							filename="SOUNZ-Logo"
							height={45}
							loading="eager"
							src="/images/optimized/192/SOUNZ-Logo.png"
							srcsets={[{ sizes: [192, 384, 768] }]}
							types={["image/avif", "image/webp", "image/png"]}
							width={192}
						/>
					</a>
				</p>
			</li>
			<li>
				<p>
					A very old online <a
						href="https://www.facebook.com/notes/625726621439458/"
						rel="external"
						>rant about Spotify</a
					> (requires a Facebook account to view—a rant for another day).
				</p>
				<p>
					Much of this is still relevant, and I got more right than I got
					wrong—but there&rsquo;s some big clangers: Spotify did move to user
					paid, and even more unexpectedly, appears unable to turn a profit
					after completely dominating the market for years:
				</p>
				<p>
					<a
						aria-label="To the Spotify website."
						href="https://open.spotify.com/"
						rel="external"
					>
						<Picture
							alt="Spotify"
							class="white-bgnd"
							filename="Spotify_Logo_RGB_Green"
							height={58}
							loading="eager"
							src="/images/optimized/192/Spotify_Logo_RGB_Green.png"
							srcsets={[{ sizes: [192, 384, 768] }]}
							types={["image/avif", "image/webp", "image/png"]}
							width={192}
						/>
					</a>
				</p>
			</li>
		</ul>
	</Article>
</Layout>
