---
import type { AstroInstance } from "astro"
import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import Cards from "~components/Cards/index.astro"
import Layout from "~layouts/index.astro"

const pages = (await Astro.glob("../projects/**/*.astro")) as Array<
	AstroInstance & { metadata: PageMeta }
>

export const metadata: Partial<PageMeta> = {
	title: "Projects",
}

const { title } = metadata

const cards = pages.map(
	({ metadata: { blurb, image, title = "" } = {}, url: href }) => ({
		blurb,
		href,
		image,
		title,
	}),
)
---

<Layout {title}>
	<Article {title}>
		<p>TODO: Brief intro here?</p>
	</Article>
	<Cards {cards} />
</Layout>
