---
import Article from "~components/Article/index.astro"
import Layout from "~layouts/index.astro"

import type { AstroInstance } from "astro"
import type { PageMeta } from "~types"

const pages = (await Astro.glob("../projects/**/*.astro")) as Array<
	AstroInstance & { metadata: PageMeta }
>

// export const metadata: Partial<PageMeta> = {
//   author: "Charles F. Munat, coder@craft-code.dev",
//   carbon: {},
//   keywords: [],
//   label: "Projects",
//   next: "/contact",
//   pageTitle: "Projects ~ Jake Baxendale",
//   prev: "/",
//   title: "Projects",
// };

// const { title } = metadata;
---

<Layout title="Projects">
	<Article title="Projects">
		<p>TODO: Brief intro here?</p>
		<dl>
			{
				pages.map(({ metadata: { blurb, title } = {}, url: href }) => (
					<>
						<dt>
							<a {href}>{title}</a>
						</dt>
						<dd>{blurb}</dd>
					</>
				))
			}
		</dl>
	</Article>
</Layout>
