---
import type { Page, PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import Cards from "~components/Cards/index.astro"
import Layout from "~layouts/index.astro"

import { PROJECTS } from "~constants"

const pages = Object.values(
	import.meta.glob("../projects/**/*.astro", { eager: true }),
) as Array<Page>

export const metadata: Partial<PageMeta> = {
	title: "Projects",
}

const { title } = metadata

const cards = PROJECTS.map(({ href: pageURL }) => {
	const { metadata: { blurb, image, title = "" } = {} as PageMeta, url: href } =
		pages.find((page) => page.url === pageURL) || ({} as Page)

	return {
		blurb,
		href,
		image,
		title,
	}
})
---

<Layout {title}>
	<Article {title}>
		<p>
			Here are various project upon which Jake has worked over the past decade
			or so.
		</p>
	</Article>
	<Cards {cards} />
</Layout>
