---
import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	label: "Cookie policy",
	robots: "noindex",
	title: "Our cookie policy",
}

const { label, robots, title } = metadata
---

<Layout
	{robots}
	title={label}
>
	<Article {title}>
		<p>
			JakeBaxendale.com site does not currently measure analytics. We do the
			best we can to make our content useful and to engage with our audience. We
			do a lot of testing. Otherwise, we trust that people will let us know what
			we can do better.
		</p>
		<p>
			If you have any questions, please feel free to <a href="/contact"
				>contact us.</a
			>
		</p>
		<p>
			If you find a bug or have a problem with the site, please give us <a
				href="/feedback">feedback.</a
			>
		</p>
	</Article>
</Layout>
