---
import type { PageMeta } from "~types"
import collapseWhitespace from "~utilities/collapseWhitespace"
import Article from "~components/Article/index.astro"
import Cards from "~components/Cards/index.astro"
import Layout from "~layouts/index.astro"
import { cards } from "~pages/discography/index.astro"

export const metadata: Partial<PageMeta> = {
	blurb: collapseWhitespace(`
		The Jac has been a leading voice in the New Zealand jazz scene,
		pushing a modern sound with their distinctive, through-composed
		compositions, tight ensemble playing, and impressive live shows.
	`),
	image: {
		filename: "walking-spirits",
		height: 686,
		src: "/images/album-art/walking-spirits.jpeg",
		types: ["image/avif", "image/webp", "image/jpeg"],
		width: 768,
	},
	title: "The Jac",
}

const { title } = metadata
---

<Layout title={title}>
	<Article title={title}>
		<p>
			Since 2010 the 8-piece ensemble <a
				href="https://www.the-jac.co.nz/
"
				rel="external"
				>The Jac</a
			> has been a leading voice in the New Zealand jazz scene, pushing a modern
			sound with their distinctive, through-composed compositions, tight ensemble
			playing, and impressive live shows. Based in Wellington and drawing talent
			from Melbourne and Montreal, the band brings together musicians from the jazz,
			classical and metal scenes.
		</p>
	</Article>
	<Cards
		{cards}
		filter={(card) =>
			card.subtitle ? ["The Jac"].includes(card.subtitle) : false}
		title="Discography"
	/>
</Layout>
