---
import Article from "~components/Article/index.astro"
import Discography from "~components/Discography/index.astro"
import Layout from "~layouts/index.astro"

// export const metadata: Partial<PageMeta> = {
//   author: "Charles F. Munat, coder@craft-code.dev",
//   carbon: {},
//   keywords: [],
//   label: "Bio",
//   next: "/contact",
//   pageTitle: "Bio ~ Jake Baxendale",
//   prev: "/",
//   title: "Bio",
// };

// const { title } = metadata;
---

<Layout title="The Jac">
	<Article title="The Jac">
		<p>
			Since 2010 the 8-piece ensemble <a
				href="https://www.the-jac.co.nz/
"
				rel="external"
				>The Jac</a
			> has been a leading voice in the New Zealand jazz scene, pushing a modern
			sound with their distinctive, through-composed compositions, tight ensemble
			playing and impressive live shows. Based in Wellington and drawing talent from
			Melbourne and Montreal, the band brings together musicians from the jazz, classical
			and metal scenes.
		</p>
	</Article>
	<Discography filter={["The Jac"]} />
</Layout>
