---
import type { Card, PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import Cards from "~components/Cards/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	title: "Discography",
}

export const cards: Array<Card> = [
	{
		href: "https://bazurka.bandcamp.com/album/novi-grad-all-stars",
		image: {
			filename: "novi-grad-all-stars",
			height: 768,
			src: "/images/album-art/novi-grad-all-stars.jpeg",
			types: ["image/avif", "image/webp", "image/jpeg"],
			width: 768,
		},
		subtitle: "Bazurka",
		title: "Novi Grad All Stars",
		year: 2023,
	},
	{
		href: "https://richtercityrebels.bandcamp.com/album/big-fresh",
		image: {
			filename: "big-fresh",
			height: 768,
			src: "/images/album-art/big-fresh.jpeg",
			types: ["image/avif", "image/webp", "image/jpeg"],
			width: 768,
		},
		subtitle: "Richter City Rebels",
		title: "Big Fresh",
		year: 2023,
	},
	{
		href: "https://louisawilliamson.bandcamp.com/album/what-dreams-may-come",
		image: {
			filename: "what-dreams-may-come",
			height: 768,
			src: "/images/album-art/what-dreams-may-come.jpeg",
			types: ["image/avif", "image/webp", "image/jpeg"],
			width: 768,
		},
		subtitle: "Louisa Williamson",
		title: "What Dreams May Come",
		year: 2022,
	},
	{
		href: "https://jasminelovellsmith.bandcamp.com/album/sanctuary",
		image: {
			filename: "sanctuary",
			height: 768,
			src: "/images/album-art/sanctuary.jpeg",
			types: ["image/avif", "image/webp", "image/jpeg"],
			width: 768,
		},
		subtitle: "Jasmine Lovell-Smith",
		title: "Sanctuary",
		year: 2021,
	},
	{
		href: "https://thejac1.bandcamp.com/album/walking-spirits-2",
		image: {
			filename: "walking-spirits",
			height: 686,
			src: "/images/album-art/walking-spirits.jpeg",
			types: ["image/avif", "image/webp", "image/jpeg"],
			width: 768,
		},
		subtitle: "The Jac",
		title: "Walking Spirits",
		year: 2021,
	},
	{
		href: "https://tombotting.bandcamp.com/album/rogue",
		image: {
			filename: "rogue",
			height: 768,
			src: "/images/album-art/rogue.jpeg",
			types: ["image/avif", "image/webp", "image/jpeg"],
			width: 768,
		},
		subtitle: "Tom Botting",
		title: "Rogue",
		year: 2021,
	},
	{
		href: "https://thejac1.bandcamp.com/album/a-gathering",
		image: {
			filename: "a-gathering",
			height: 787,
			src: "/images/album-art/a-gathering.jpeg",
			types: ["image/avif", "image/webp", "image/jpeg"],
			width: 768,
		},
		subtitle: "The Jac",
		title: "A Gathering",
		year: 2020,
	},
	{
		href: "https://cosmic-compositions.bandcamp.com/album/clear-path-ensemble",
		image: {
			filename: "clear-path-ensemble",
			height: 768,
			src: "/images/album-art/clear-path-ensemble.jpeg",
			types: ["image/avif", "image/webp", "image/jpeg"],
			width: 768,
		},
		subtitle: "Clear Path Ensemble",
		title: "Clear Path Ensemble",
		year: 2020,
	},
	{
		href: "https://rattlejazz.bandcamp.com/album/good-winter",
		image: {
			filename: "good-winter",
			height: 686,
			src: "/images/album-art/good-winter.jpeg",
			types: ["image/avif", "image/webp", "image/jpeg"],
			width: 768,
		},
		subtitle: "Antipodes",
		title: "Good Winter",
		year: 2018,
	},
	{
		href: "https://www.thickrecords.co.nz/kapow",
		image: {
			filename: "kapow",
			height: 768,
			src: "/images/album-art/kapow.jpeg",
			types: ["image/avif", "image/webp", "image/jpeg"],
			width: 768,
		},
		subtitle: "The Troubles",
		title: "Kapow!",
		year: 2018,
	},
	{
		href: "https://richtercityrebels.bandcamp.com/album/hard-work-hard-money",
		image: {
			filename: "hard-work-hard-money",
			height: 768,
			src: "/images/album-art/hard-work-hard-money.jpeg",
			types: ["image/avif", "image/webp", "image/jpeg"],
			width: 768,
		},
		subtitle: "Richter City Rebels",
		title: "Hard Work Hard Money",
		year: 2017,
	},
	{
		href: "https://jakebaxendale.bandcamp.com/album/jb3-live-at-the-rogue-and-vagabond",
		image: {
			filename: "jb3-live",
			height: 593,
			src: "/images/album-art/jb3-live.jpeg",
			types: ["image/avif", "image/webp", "image/jpeg"],
			width: 768,
		},
		subtitle: "JB3",
		title: "Live at the Rogue and Vagabond",
		year: 2016,
	},
	{
		href: "https://richtercityrebels.bandcamp.com/album/live-at-tora",
		image: {
			filename: "live-at-tora",
			height: 768,
			src: "/images/album-art/live-at-tora.jpeg",
			types: ["image/avif", "image/webp", "image/jpeg"],
			width: 768,
		},
		subtitle: "Richter City Rebels",
		title: "Live at Tora",
		year: 2016,
	},
	{
		href: "https://jakebaxendale.bandcamp.com/album/antipodes-live",
		image: {
			filename: "antipodes-live",
			height: 767,
			src: "/images/album-art/antipodes-live.jpeg",
			types: ["image/avif", "image/webp", "image/jpeg"],
			width: 768,
		},
		subtitle: "Antipodes",
		title: "Antipodes - Live",
		year: 2015,
	},
	{
		href: "https://thejac1.bandcamp.com/album/the-green-hour",
		image: {
			filename: "the-green-hour",
			height: 768,
			src: "/images/album-art/the-green-hour.jpeg",
			types: ["image/avif", "image/webp", "image/jpeg"],
			width: 768,
		},
		subtitle: "The Jac",
		title: "The Green Hour",
		year: 2015,
	},
	{
		href: "https://thejac1.bandcamp.com/album/nerve",
		image: {
			filename: "nerve",
			height: 768,
			src: "/images/album-art/nerve.jpeg",
			types: ["image/avif", "image/webp", "image/jpeg"],
			width: 768,
		},
		subtitle: "The Jac",
		title: "Nerve",
		year: 2014,
	},
]

const { title } = metadata
---

<Layout {title}>
	<Article {title}>
		<p></p>
	</Article>
	<Cards {cards} />
</Layout>
