---
import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import Discography from "~components/Discography/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	title: "Discography",
}

const { title } = metadata
---

<Layout {title}>
	<Article {title}>
		<p></p>
	</Article>
	<Discography />
</Layout>
