---
import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	robots: "noindex",
	title: "Missing message",
}

const { robots, title } = metadata
---

<Layout
	{robots}
	{title}
>
	<Article {title}>
		<p>
			Your contact form submission did not include a <strong>message.</strong>
			We assume that this was accidental.
		</p>
		<p>
			You can use the browser <strong>back button</strong>
			to return to the form and try again. If you get stuck or think this message
			is in error, please <a
				href="mailto:charles.munat@gmail.com?subject=%5BJakeBaxendale.com%5D%20Contact%20form%20failure"
				>email the webmaster</a
			> and we will look into it ASAP.
		</p>
	</Article>
</Layout>
