---
import type { PageMeta } from "~types"
import collapseWhitespace from "~utilities/collapseWhitespace"
import Article from "~components/Article/index.astro"
import Cards from "~components/Cards/index.astro"
import Layout from "~layouts/index.astro"
import { cards } from "~pages/discography/index.astro"

export const metadata: Partial<PageMeta> = {
	blurb: collapseWhitespace(`
		JB3 is a funky organ-drums-sax trio with an extensive repertoire, from
		jazz, boogaloo, latin, funk, soul and R&B.
	`),
	title: "JB3",
}

const { title } = metadata
---

<Layout title={title}>
	<Article title={title}>
		<p>
			JB3 is a funky organ-drums-sax trio with an extensive repertoire, from
			jazz, boogaloo, latin, funk, soul and R&B.
		</p>
		<p>
			The JB3 have been lighting up bars, clubs and stages around NZ for years,
			developing a deeply grooving sound with adventurous improvisational
			interplay.
		</p>
		<p>
			Whilst drawing on the funk and soul jazz stylings of &rsquo;50s and
			&rsquo;60s era Blue Note recordings, JB3 bring their own flavour with
			their original tunes and interpretations of classic jams.
		</p>
		<figure>
			<iframe
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen
				height="685"
				src="https://www.youtube.com/embed/eKtOPA2wp3c"
				title="JB3 - Liquid"
				width="1218"
			></iframe>
			<figcaption>JB3 Live at Hashigo Zake, February 2020.</figcaption>
		</figure>
	</Article>
	<Cards
		{cards}
		filter={(card) => (card.subtitle ? ["JB3"].includes(card.subtitle) : false)}
		title="Discography"
	/>
</Layout>
