---
import type { PageMeta } from "~types"
import collapseWhitespace from "~utilities/collapseWhitespace"
import Article from "~components/Article/index.astro"
import Cards from "~components/Cards/index.astro"
import Layout from "~layouts/index.astro"
import { cards } from "~pages/discography/index.astro"

export const metadata: Partial<PageMeta> = {
	blurb: collapseWhitespace(`
		JB3 is a funky organ-drums-sax trio with an extensive repertoire, from
		jazz, boogaloo, latin, funk, soul and R&B. Whilst drawing on the funk
		and soul jazz stylings of &rsquo;50s and &rsquo;60s era Blue Note recordings,
		JB3 bring their own flavour with their original tunes and interpretations
		of classic jams.
	`),
	image: {
		filename: "jb3-live",
		height: 593,
		src: "/images/album-art/jb3-live.jpeg",
		types: ["image/avif", "image/webp", "image/jpeg"],
		width: 768,
	},
	title: "JB3",
}

const { title } = metadata
---

<Layout title={title}>
	<Article title={title}>
		<p>
			JB3 is a funky organ-drums-sax trio with an extensive repertoire, from
			jazz, boogaloo, latin, funk, soul and R&B.
		</p>
		<p>
			The JB3 have been lighting up bars, clubs and stages around NZ for years,
			developing a deeply grooving sound with adventurous improvisational
			interplay.
		</p>
		<p>
			Whilst drawing on the funk and soul jazz stylings of &rsquo;50s and
			&rsquo;60s era Blue Note recordings, JB3 bring their own flavour with
			their original tunes and interpretations of classic jams.
		</p>
		<figure>
			<iframe
				width="560"
				height="315"
				src="https://www.youtube.com/embed/eKtOPA2wp3c?si=nOp3QT4LxNhIe47R"
				title="JB3 (live at Hashigo Zake)"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				allowfullscreen
			></iframe>
			<figcaption>JB3 Live at Hashigo Zake, February 2020.</figcaption>
		</figure>
	</Article>
	<Cards
		{cards}
		filter={(card) => (card.subtitle ? ["JB3"].includes(card.subtitle) : false)}
		title="Discography"
	/>
</Layout>
