.trail ul {
	align-items: center;
	display: flex;
	gap: 0.5rem;
	justify-content: flex-start;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.trail ul a {
	display: inline;
}

.trail ul a:focus,
.trail ul a:hover {
	outline: none;
	text-decoration: underline;
}

.trail ul li::after {
	display: inline;
	content: " /";
}

.trail ul li:last-child::after {
	content: none;
}

.trail span.this-page {
	outline: none;
	outline-offset: none;
	display: inline;
	margin: 0;
	padding: 0;
	font-weight: 600;
}
