---
import "./index.css"

import { Link } from "~types"

export type Props = {
	links: Array<Link>
}

const { links = [] } = Astro.props

const { pathname } = Astro.url
---

<section class="top-nav">
	<h2 class="sr-only">Site content</h2>
	<ul>
		{
			links.map(({ href, label }) =>
				href === pathname ? (
					<li>
						<span
							class="this-page"
							title="This page."
						>
							{label}
						</span>
					</li>
				) : (
					<li>
						<a {href}>{label}</a>
					</li>
				),
			)
		}
	</ul>
</section>
