---
import type { PageMeta } from "~types"
import collapseWhitespace from "~utilities/collapseWhitespace"
import Article from "~components/Article/index.astro"
// import Discography from "~components/Discography/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	blurb: collapseWhitespace(`
		Waypeople was originally commissioned for the 2023 Wellington Jazz Festival
		and is my first attempt to write jazz music with lyrics. I’ve enjoyed
		playing with the sounds of the American songbook and juxtaposing them with
		this ancient wisdom
	`),
	title: "Waypeople",
}

const { title } = metadata
---

<Layout title={title}>
	<Article title={title}>
		<p>
			<strong>Waypeople</strong> is a beginning. I started delving into the Tao Te
			Ching (a collection of ancient Chinese poems probably written over 2500 years
			ago in the time of Confucius by a sage named Lao Tzu) back in 2020: I was sick
			with anxiety, first from overwork and then from a sudden lack of purpose brought
			on by the COVID 19 lockdowns. My partner gave me a rendition in English by
			a favourite author of mine, Ursula Le Guin, best known for her &ldquo;Earthsea
			Quartet&rdquo;, a groundbreaking work in the Fantasy genre.
		</p>
		<p>
			This funny, insightful, mystifying and musical book has provided me
			constant comfort and inspiration since I first picked it up. Le Guin wrote
			of the original text &ldquo;as we define poetry now, not by rhyme or meter
			but by a patterned intensity of language, the whole thing is poetry. I
			wanted to catch that poetry, its terse, strange beauty.&rdquo; I would
			like to catch the music in the poetry: surprising, hard to grasp,
			sometimes leaping like a fish! Glistening, beautiful, and at home in the
			world.
		</p>
		<p>
			<strong>Waypeople</strong> was originally commissioned for the 2023 Wellington
			Jazz Festival, and is my first attempt to write jazz music with lyrics. I&rsquo;ve
			enjoyed playing with the sounds of the American songbook and juxtaposing them
			with this ancient wisdom: to anchor the project to its roots I utilised the
			guzheng, a Chinese zither whose origins hark back to a similar time as the
			Tao Te Ching.
		</p>
		<p>
			Listen to some <a
				href="https://soundcloud.com/antipodesband/sets/waypeople"
				rel="external"
				>excerpts from the debut performance.</a
			>
		</p>
		<p>
			<a
				href="https://docs.google.com/document/d/1qzpa4Q7wbKWtzhju5vsaT9Yy9iT_bY2JCd_M4Ihk6HU/edit?usp=sharing"
				rel="external"
				>Festivals or venues interested in hosting Waypeople should consult this
				document</a
			> for the full performance description and staging requirements.
		</p>
	</Article>
</Layout>
