---
import type { PageMeta } from "~types"

import collapseWhitespace from "~utilities/collapseWhitespace"
import Article from "~components/Article/index.astro"
import Cards from "~components/Cards/index.astro"
import Layout from "~layouts/index.astro"
import Picture from "~components/Picture/index.astro"

import { cards } from "~pages/discography/index.astro"

export const metadata: Partial<PageMeta> = {
	blurb: collapseWhitespace(`
		Waypeople was originally commissioned for the 2023 Wellington Jazz Festival
		and is my first attempt to write jazz music with lyrics. I’ve enjoyed
		playing with the sounds of the American songbook and juxtaposing them with
		this ancient wisdom
	`),
	image: {
		filename: "waypeople-new",
		height: 768,
		src: "/images/optimized/768/waypeople-new.jpeg",
		types: ["image/avif", "image/webp", "image/jpeg"],
		width: 768,
	},
	title: "Waypeople",
}

const { title } = metadata
---

<Layout title={title}>
	<Article title={title}>
		<p>
			<strong>Waypeople</strong> is a sonic and visual journey through an ancient
			philosophical text at once solidly pragmatic and profoundly mystical. With
			lyrics drawn from author Ursula Le Guin's poetic English language version of
			the Tao te Ching, eight artists explore traditional and contemporary music
			forms, composition, improvisation, shadow, light & ink as they guide you through
			ten movements, illustrating the themes of the unseen, unheard, unnamable Tao,
			“wu-wei” (not-doing) and true Power.
		</p>

		<ul>
			<li>Music by <strong>Jake Baxendale</strong>.</li>
			<li>Visual art by <strong>Nikita 雅涵 Tu-Bryant</strong>.</li>
			<li>
				Theatrical direction and design by <strong>Joel Baxendale</strong>.
			</li>
			<li>
				Featuring:
				<ul>
					<li><strong>Jake Baxendale</strong> (woodwinds)</li>
					<li><strong>Chelsea Prastiti</strong> (vocals)</li>
					<li><strong>Jessie Ling</strong> (guzheng)</li>
					<li><strong>Daniel Hayles</strong> (piano)</li>
					<li><strong>Callum Passells</strong> (saxophones)</li>
					<li><strong>Cory Champion</strong> (drums and percussion)</li>
					<li><strong>Johnny Lawrence</strong> (double bass)</li>
				</ul>
			</li>
		</ul>
		<figure>
			<iframe
				width="1218"
				height="685"
				src="https://www.youtube.com/embed/aJe9q-4yt3E?list=PL_hgf9zjGMI9hjLbKh-JYXUkpjXmItSw4"
				title="Jake Baxendale: Waypeople - trailer"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin"
				allowfullscreen=""
			></iframe>
		</figure>
		<p>
			This project is supported by funding from Creative New Zealand. The music
			was originally commissioned by the Wellington Jazz Festival.
		</p>
		<p>
			Festivals or venues interested in hosting Waypeople should <a
				href="https://docs.google.com/document/d/1qzpa4Q7wbKWtzhju5vsaT9Yy9iT_bY2JCd_M4Ihk6HU/edit?usp=sharing"
				rel="external"
				>consult this document for the full performance description and staging
				requirements</a
			>.
		</p>
	</Article>
	<Cards
		{cards}
		filter={(card) =>
			card.subtitle ? ["Waypeople"].includes(card.subtitle) : false}
		title="Discography"
	/>
</Layout>
