:root {
	/* Colors */
	--color-whitish: 17deg, 87%, 95%;
	--color-lightest: 17deg, 87%, 79%;
	--color-lighter: 12deg, 84%, 77%;
	--color-light: 8deg, 82%, 75%;
	--color-dark: 3deg, 80%, 74%;
	--color-darker: 0deg, 79%, 72%;
	--color-darkest: 17deg, 87%, 10%;
	--color-green: 180deg, 80%, 30%;
	--body-background-color: hsl(var(--color-lightest));
	--body-foreground-color: hsl(var(--color-darkest));
	--blockquote-background-color: hsl(var(--color-lighter));
	--blockquote-foreground-color: hsl(var(--color-darkest));
	--footer-background-color: hsl(var(--color-lighter));
	--footer-foreground-color: hsl(var(--color-darkest));
	--footer-outline-color: hsl(var(--color-darkest));
	--global-nav-background-color: hsl(var(--color-lighter));
	--global-nav-foreground-color: hsl(var(--color-darkest));
	--global-nav-outline-color: hsl(var(--color-darkest));
	--header-background-color: hsl(var(--color-darker));
	--header-foreground-color: hsl(var(--color-darkest));
	--link-foreground-color: hsl(var(--color-darkest));
	--link-outline-color: hsl(var(--color-darkest));
	--logo-outline-color: hsl(var(--color-darkest));
	--menu-toggle-background-color: hsl(var(--color-darker));
	--menu-toggle-background-color-hover: hsl(var(--color-darkest));
	--menu-toggle-foreground-color: hsl(var(--color-darkest));
	--menu-toggle-foreground-color-hover: hsl(var(--color-darker));
	--menu-toggle-outline-color-focus: hsl(var(--color-darkest));
	--skip-link-background-color: transparent;
	--skip-link-foreground-color: hsl(var(--color-darkest));
	--skip-link-foreground-color-focus: hsl(var(--color-darkest));
	--skip-link-outline-color-focus: hsl(var(--color-darkest));
	--top-nav-background-color: hsl(var(--color-lightest));

	/* Fonts */
	--font-body: optima, candara, "Noto Sans", source-sans-pro, sans-serif;

	/* Spacing */
	--space-3xs: clamp(0.25rem, 0.2356rem + 0.0769vi, 0.3125rem);
	--space-2xs: clamp(0.5rem, 0.4712rem + 0.1538vi, 0.625rem);
	--space-xs: clamp(0.75rem, 0.7067rem + 0.2308vi, 0.9375rem);
	--space-s: clamp(1rem, 0.9423rem + 0.3077vi, 1.25rem);
	--space-m: clamp(1.5rem, 1.4135rem + 0.4615vi, 1.875rem);
	--space-l: clamp(2rem, 1.8846rem + 0.6154vi, 2.5rem);
	--space-xl: clamp(3rem, 2.8269rem + 0.9231vi, 3.75rem);
	--space-2xl: clamp(4rem, 3.7692rem + 1.2308vi, 5rem);
	--space-3xl: clamp(6rem, 5.6538rem + 1.8462vi, 7.5rem);

	/* Font sizes */
	--step-0: clamp(1rem, 0.9135rem + 0.4615vi, 1.375rem);
	--step-1: clamp(1.25rem, 1.1418rem + 0.5769vi, 1.7188rem);
	--step-2: clamp(1.5625rem, 1.4273rem + 0.7212vi, 2.1484rem);
	--step-3: clamp(1.9531rem, 1.7841rem + 0.9014vi, 2.6855rem);
	--step-4: clamp(2.4414rem, 2.2301rem + 1.1268vi, 3.3569rem);
	--step-5: clamp(3.0518rem, 2.7877rem + 1.4085vi, 4.1962rem);
	--page-gutter: 4vw;
	--page-width: 92vw;

	/* Borders */

	/* Cards */
	--card-background-color-hover: hsl(var(--color-lighter));
	--card-border: 1px solid hsl(var(--color-light));
	--card-box-shadow: 7px 8px 10px hsl(var(--color-lighter));
	--card-box-shadow-hover: 7px 8px 15px hsl(var(--color-dark));
	--card-foreground-color: hsl(var(--color-darkest));

	/* Forms */
	--form-button-background-color: #941e1f;
	--form-button-background-color-hover: hsl(var(--color-lighter));
	--form-button-border: 2px solid hsl(var(--color-darker));
	--form-button-border-hover: 2px solid hsl(var(--color-darker));
	--form-button-foreground-color: hsl(var(--color-whitish));
	--form-button-foreground-color-hover: hsl(var(--color-darkest));
	--form-button-outline-hover: 2px solid hsl(var(--color-darker));
	--form-field-background-color: hsl(var(--color-lighter));
	--form-field-background-color-focus: hsl(var(--color-whitish));
	--form-field-border: 2px solid hsl(var(--color-light));
	--form-field-outline: 2px solid hsl(var(--color-light));
}

body {
	align-items: stretch;
	background-color: var(--body-background-color);
	color: var(--body-foreground-color);
	display: flex;
	flex-direction: column;
	font-family: var(--font-body);
	font-size: var(--step-0, 1rem);
	gap: 0;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	width: 100vw;
}

main {
	align-items: flex-start;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	height: auto;
	padding: var(--space-l) 4vw;
}

blockquote {
	background-color: var(--blockquote-background-color);
	color: var(--blockquote-foreground-color);
	margin: 0;
	margin-top: var(--space-m);
	padding: var(--space-s) var(--space-m);
}

blockquote p {
	margin: var(--space-m) 0 0;
}

blockquote p:first-child {
	margin: 0;
}

figure {
	margin-inline: 0;
}

figcaption {
	text-align: center;
	width: 100%;
}

figure > iframe {
	aspect-ratio: 1.777;
	height: 100%;
	width: 100%;
}

h1,
h2 {
	background-color: var(--h2-background-color);
	color: var(--h2-foreground-color);
	font-family: var(--font-body);
	font-weight: 400;
}

h1 {
	font-size: var(--step-4);
}

h2 {
	font-size: var(--step-3);
}

dt {
	font-size: var(--step-1);
}

picture.full-width img {
	height: auto;
	width: 100%;
}

p:has(picture.float-left) {
	float: left;
	margin: 2rem 2rem 1rem 0;
	width: 50%;
}

p:has(picture.float-right) {
	float: right;
	margin: 2rem 1rem;
	width: 50%;
}

picture.float-left img,
picture.float-right img {
	height: auto;
	width: 100%;
}

article {
	font-family: var(--font-body);
	font-size: var(--step-0);
	line-height: 1.6;
	width: min(54rem, 92vw);
}

article a {
	color: var(--link-foreground-color);
}

article a:focus,
article a:hover {
	outline: 2px solid var(--link-outline-color);
	outline-offset: 2px;
	text-decoration: none;
}
