---
import "./_index.css"

import type { PageMeta } from "~types"

import Article from "~components/Article/index.astro"
import Layout from "~layouts/index.astro"

export const metadata: Partial<PageMeta> = {
	label: "Portfolio",
	robots: "noindex",
	title: "Composition Portfolio",
}

const { robots, title } = metadata
---

<Layout
	{robots}
	{title}
>
	<Article {title}>
		<ul class="compositions">
			<li>
				<em>Against War</em>
				<ul>
					<li>
						<a href="/streams/against-war-live-at-meow.mp3">Play MP3</a>
					</li>
					<li>
						<a
							href="/streams/against-war-live-at-meow.mp3"
							download
							>Download MP3</a
						>
					</li>
					<li>
						<a href="/scores/against-war-full-score.pdf">Full score (PDF)</a>
					</li>
				</ul>
			</li>
			<li>
				<em>Leaves of Grass</em>
				<ul>
					<li>
						<a href="/scores/leaves-of-grass-score.pdf">Score (PDF)</a>
					</li>
					<li>
						<a
							href="/streams/leaves-of-grass-jake-baxendale-jasmine-lovell-smith.mp3"
							>Play MP3</a
						>
					</li>
					<li>
						<a
							href="/streams/leaves-of-grass-jake-baxendale-jasmine-lovell-smith.mp3"
							download
							>Download MP3</a
						>
					</li>
				</ul>
			</li>
			<li>
				<em>Mindful of Little Things</em> (20th October parts)
				<ul>
					<li>
						<a href="/streams/mindful-of-little-things-live-at-meow.mp3"
							>Play MP3</a
						>
					</li>
					<li>
						<a
							href="/streams/mindful-of-little-things-live-at-meow.mp3"
							download
							>Download MP3</a
						>
					</li>
					<li>
						<a
							href="/scores/mindful-of-little-things-20th-oct-parts-full-score.pdf"
							>Full score (PDF)</a
						>
					</li>
				</ul>
			</li>
			<li>
				<em>Techniques</em>
				<ul>
					<li>
						<a href="/streams/techniques-live-at-meow.mp3">Play MP3</a>
					</li>
					<li>
						<a
							href="/streams/techniques-live-at-meow.mp3"
							download
							>Download MP3</a
						>
					</li>
					<li>
						<a href="/scores/techniques-full-score.pdf">Full score (PDF)</a>
					</li>
				</ul>
			</li>
			<li>
				<em>The Big Question</em>
				<ul>
					<li>
						<a href="/streams/the-big-question-live-at-bats.mp3">Play MP3</a>
					</li>
					<li>
						<a
							href="/streams/the-big-question-live-at-bats.mp3"
							download
							>Download MP3</a
						>
					</li>
					<li>
						<a href="/scores/the-big-question-full-score.pdf"
							>Full score (PDF)</a
						>
					</li>
				</ul>
			</li>
		</ul>
	</Article>
</Layout>
