---
import type { PageMeta } from "~types"
import collapseWhitespace from "~utilities/collapseWhitespace"
import Article from "~components/Article/index.astro"
import Cards from "~components/Cards/index.astro"
import Layout from "~layouts/index.astro"
import Twitch from "~components/Twitch/index.astro"
import { cards } from "~pages/discography/index.astro"

export const metadata: Partial<PageMeta> = {
	blurb: collapseWhitespace(`
		Striking Moments—especially engaging musical statements discovered
		during improvisation itself—can act as the genesis of new musical
		material to adopt into and adapt for an improvising vocabulary.
	`),
	image: {
		filename: "striking-moments",
		height: 768,
		src: "/images/album-art/striking-moments.jpeg",
		types: ["image/avif", "image/webp", "image/jpeg"],
		width: 768,
	},
	title: "Striking Moments",
}

const { title } = metadata
---

<Layout title={title}>
	<Article title={title}>
		<p>
			&ldquo;...that&rsquo;s my way of preparation - to not be prepared. And
			that takes a lot of preparation!&rdquo; - Lee Konitz
		</p>
		<p>
			What does it mean to prepare to be unprepared? Lee Konitz&rsquo;s deft
			paradox represents a challenge to the improviser: how can one practice and
			prepare for improvising, while simultaneously aspiring to spontaneity,
			newness and the unexpected in its performance? My Master of Music studies
			at Auckland University in 2020-21 undertook to answer this question.
		</p>
		<p>
			Coming from my position as a jazz improviser in Aotearoa, my research
			built on ideas from other New Zealand and Australian artist researchers
			who have identified the need to develop personal, reflexive, and
			deliberate practice techniques to answer this question. I offered that
			&ldquo;language&rdquo; and &ldquo;vocabulary&rdquo;, common and useful
			metaphors within musical improvisation, can be practiced, learned and
			applied in ways that don&rsquo;t inhibit spontaneity in performance, but
			enhance it.
		</p>
		<p>
			I proposed that &ldquo;striking moments&rdquo;—especially engaging musical
			statements discovered during improvisation itself—can act as the genesis
			of new musical material to adopt into and adapt for an improvising
			vocabulary.
		</p>
		<p>
			You can <a
				href="https://researchspace.auckland.ac.nz/bitstream/handle/2292/59479/Baxendale-2021-thesis.pdf"
				rel="external"
				>read the thesis.</a
			>
		</p>
		<p>
			Since acquiring my <abbr title="Master of Music">MMus</abbr>, I have run a
			collaborative workshop series and performed several concerts using the
			Striking Moments moniker and concepts.
		</p>
		<Twitch
			caption="Striking Moments at Pyramid Club, Wellington Jazz Festival, October 2022."
			video={1633879743}
		/>
	</Article>
	<Cards
		{cards}
		filter={(card) =>
			card.subtitle ? ["Striking Moments"].includes(card.subtitle) : false}
		title="Discography"
	/>
</Layout>
